.container {
  box-sizing: border-box;
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-work {
  width: 1230px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 94px;
}

.container-header {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
