.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__column {
  margin-right: 70px;
}

.footer__adress-list {
  list-style: none;
  margin: 0%;
}

.footer__adress-item {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--white-color);
}

.footer__adress-item:not(:last-child) {
  margin-bottom: 9px;
  display: block;
}

.footer__contacts {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__join-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 20px;

  color: #ffffff;
}

.footer__newsletter {
  margin-left: auto;
}

.footer__newsletter-text {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer__newsletter-input {
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  border-radius: 4px;
  background-color: #2f303a;
}
